:root {
	--main-bg: #073642;
	--text: #93a1a1;
	--sec-bg:  #002b36;
	--border: #2aa198;
	--link: #657b83;
	--shadow: #1a7770;
}
.theme {
	background-color: var(--sec-bg);
	width:100%;
	height:100%;
	border: 3px solid var(--border);
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	margin-left:2.5%;
	margin-right:2.5%;
	padding:2%;
	box-shadow:2px 3px var(--shadow);
}
.theme-container {
	width:300px;
	height:auto;
	margin:2.25%;
}
.theme > div {
	flex-grow:1;
}
#themelist {
	display:flex;
	align-items:space-between;
	width:90%;
	margin-left:5%;
	margin-top:5%;
}
.theme-name {
	font-weight:bold;
}
.theme-screen {
	max-width:100%;
	max-height:300px;
	height:auto;
	width:auto;
}
body {
	background-color:var(--main-bg);
	color: var(--text);
}
a {
	color:inherit;
	text-decoration:none;
	
}
.theme-author {
	margin-left:10%;
}
#header {
	padding-top:0.5%;
	display:flex;
	align-items:center;
	padding-bottom:0.5%;
	height:auto;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background-color: var(--sec-bg);
}
#header > div {
	margin-left:2%;
	margin-right:2%;
}
#theme-big-img {
	width:80%;
	margin-left:10%;
	max-height:30%;
	margin-bottom:2%;
}
#theme-big {
	background-color:var(--sec-bg);
	border: 2px solid var(--border);
	margin-top:3%;
	width:80%;
	padding:1%;
	margin-left:9.75%;
	height:110%;
	box-shadow: 2px 3px var(--shadow);
}
.bold {
	font-weight:bold;
}
#theme-big-title {
}
#theme-big-description {
	padding:0.5%;
	border: 2px solid var(--border);
}
#theme-big-install {
	padding:0.5%;
	border: 2px solid var(--border);
	margin-top:0.5%;
	font-family:monospace;
	font-size:large;
	background-color:var(--main-bg);
}
#theme-big-updated {
	margin-top:0.5%;
}
#download-big {
	text-align:right;
	color: var(--link);
	font-weight:bold;

	margin-bottom:2%;
	margin-left:2%;
}
#header-sorts {
	width:30%;
}
#header-top {
	margin-right:2%;
}
#header-new {
	margin-right: 2%;
}
#header-sorts > div {
	display:inline;
	margin-left:0;
	font-weight:bold;
}
#header-ptitle {
	text-align:right;
	margin-left:35% !important;
	width:30%;
}
#header-constraints {
	width:20%;
}
#theme-big-report {
	font-weight:bold;
	font-size:medium-large;
}
#header-about {
	margin-right:2%;
}
#report-div {
	height:60%;
	width:60%;
	border:2px solid var(--border);
	box-shadow:2px 3px var(--shadow);
	top:20%;
	left:20%;
	position:absolute;
	text-align:center;
	background-color:var(--sec-bg);
}
#info {
	resize:none;
}
#reported-div {
	width:30%;
	position:absolute;
	left:35%;
	top:35%;
	height:30%;
	border: 2px solid var(--border);
	box-shadow: 2px 3px var(--shadow);
	text-align:center;
	background-color:var(--sec-bg);
}
#about-div {
	width:30%;
	height:auto;
	position:absolute;
	left:35%;
	top:35%;
	padding:0.5%;
	border: 2px solid var(--border);
	box-shadow: 2px 3px var(--shadow);
	background-color:var(--sec-bg);
}
.raven-link {
	color:var(--border);
}
#about-div > h3 {
	text-align:center;
}

