<div id="header">
<div id="header-home">
<a href="/">
ThemeHub
</a>
</div>
<div id="header-sorts">
<div id="header-top">
<a href="/">
Top Themes
</a>
</div>
<div id="header-new">
<a href="/recent">
New Themes
</a>
</div>
<div id="header-about">
<a href="/about">
About
</a>
</div>
</div>
<div id="header-ptitle">
<%= ptitle %>
<% if (constraints){ %>
 |
<%= constraints %>
<% }  %>
</div>
</div>
