<html>
	<head>
		<title> About ThemeHub </title>
		<link rel="stylesheet" href="/stylesheet.css">
	</head>
	<body>
		<%- include("views/header", {ptitle:"About ThemeHub", constraints:""}); %>
		<div id="about-div">
			<h3> About ThemeHub </h3>
			ThemeHub is an online repository for <a href="https://github.com/nicohman/raven" class="raven-link"> raven themes.</a> These are themes for linux desktops that can consist of multiple components. To get started making a theme, please check out <a href="https://github.com/nicohman/raven/blob/master/README.md" class="raven-link"> the raven documentation.</a> ThemeHub is open-source and runs on nodejs. The source code is available <a class="raven-link" href="https://github.com/nicohman/ravenserver">here.</a> If you have feature suggestions or bug reports, please open an issue in the relevant repository. If you need to report a theme, go <a href="/themes/report" class="raven-link"> here. </a> If you need to contact me for another reason, feel free to <a href="mailto:nico.hickman@gmail.com" class="raven-link"> send me an email. </a> If you're looking for my personal website, it's <a href="https://nicohman.demenses.net" class="raven-link">here</a>.
		</div>
	</body>
</html>