<html>
<head>
<title>Checksums</title>
</head>
<body>
<p>These are MD5 checksums for the compiled release versions of a few of my projects. Built from the latest git commit.</p>
<p>raven<br>
<%= sums.raven %></p
<p>
ravend<br>
<%= sums.ravend %>
</p><p>graven <br>
<%= sums.graven %></p>
<p>eidolon <br>
<%= sums.eidolon %></p>
</body>
</html>
