<!DOCTYPE html>
<html>
<head>
<title> ThemeHub</title>
<link rel="stylesheet" href="/stylesheet.css"></link>
</head>
<body>
<div id="themelist">
	<% themes.forEach(function(theme) { %>
	<%- include('views/theme', {theme:theme}); %>
	<% }); %>
</div>
</body>
</html>
